[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"

[dev-packages]
flake8 = "*"
django-adminlte2 = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pytest-cov = "*"
codecov = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
